  .blog {
            border: 1px solid slateblue;
            border-radius: 10px;
            background-color: rgb(249, 248, 255);
            padding: 10px;
            margin-top: 50px;
            margin-bottom: 20px;
            margin-right: 150px;
            margin-left: 150px;
            padding: 20px;
            text-align: justify;
            box-shadow: 5px 7px 5px lightgrey;
            /* display: none; */
            /* visibility: hidden; */
        }
        /* h2 {
            text-decoration: wavy underline;
        } */
         #box-color {
            background-color: rgb(250, 255, 247); 
            border: 1px solid rgb(0, 255, 21);       
        }
            #box-color3 {
                background-color: rgb(255, 248, 254); 
                border: 1px solid rgb(255, 0, 217);       
            }

            .header-image {
                height: 500px;
            background-image: url("../image/3.jpg");
                background-size: cover;
                background-color: rgb(252, 98, 98);
                margin-right: 150px;
            margin-left: 150px;
                border-radius: 10px;
                margin-top: 50px;
                 
            }

            /* li { */
                /* display: inline;
            } */